<div layout="row">
	<div flex></div>
	<div flex>
		<md-card>

		<md-card-title>

			<!-- Imagen -->
			<md-card-title-media>
				<div class="md-media-lg" style="background-color: gray; margin-right: 10px;"></div>
			</md-card-title-media>

			<!-- Titulos -->
			<md-card-title-text>
				<span class="md-headline">Ese tes</span>
	            <span class="md-subhead">hla</span>
			</md-card-title-text>

		</md-card-title>

		<!-- Lista de Anuncios-->
		
	    </md-card>
	</div>
	<div flex></div>
</div>