<div layout="row">
		<div flex></div>
		<md-input-container md-no-float flex="20" flex-sm="30" flex-xs="65">
			<input type="text" placeholder="¿What are you searching for?">
		</md-input-container>
		<md-button class="md-raised" style="background: #FF4081; color: #ffffff; height: 36px; margin-top: 15px;">Search</md-button>
		<div flex></div>
</div>

<div layout="row">
	<div flex></div>
	<div flex="35" flex-sm="90" flex-xs="95">
		<md-toolbar>
			<div class="md-toolbar-tools" style="background: #757575">
				<h2 flex>{{anuncios.length}} Anuncios encontrados</h2>
				<span flex></span>
				<a href ng-click="crearanuncio()">Nuevo Anuncio</a>
			</div>
		</md-toolbar>
	</div>
	<div flex></div>
</div>

<div layout="row">
	<div flex></div>
	<!--<md-content flex>-->
	<div flex="35" flex-sm="90" flex-xs="95">
		<md-list ng-cloak>
			<md-list-item ng-repeat="anuncio in anuncios | orderBy:'id':true" aria-label="...">
				<anuncio></anuncio>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
	</div>
	<!--</md-content>-->
	<div flex></div>
</div>
